      <!-- http://railscasts.com/episodes/274-remember-me-reset-password -->
        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="text-center">
                <a href="/admin" class="logo"><span>Parttimebee<span></span></span></a>
                <h5 class="text-muted m-t-0 font-600">Parttimebee Admin Systems</h5>
            </div>
            <div>
                <% if flash[:send_password_reset_success] %>
                        <div class="alert alert-success">
                            <center>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <%= flash[:send_password_reset_success] %>
                            </center>
                        </div>
                <% end %>
                <% if flash[:send_password_fail] %>
                        <div class="alert alert-danger">
                            <center>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <%= flash[:send_password_fail] %>
                            </center>
                        </div>
                <% end %>
            </div>
            <div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Reset Password</h4>
                    <p class="text-muted m-b-0 font-13 m-t-20">Enter your email address and we'll send you an email with instructions to reset your password.  </p>
                </div>
                <div class="panel-body form-horizontal m-t-20">
                    <%= form_for(:reset, :url => {:controller => 'adminlogin', :action => 'send_mail_reset_password'}) do |f| %>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <%= f.email_field :email, :class=>"form-control", :required => true, :placeholder => 'Enter your email' %> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Reset Password</button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <!-- end card-box -->
          <div class="row">
            <div class="col-sm-12 text-center">
              <p class="text-muted">Already have account?<a href="/admin-login" class="text-primary m-l-5"><b>Sign In</b></a></p>
            </div>
          </div>
    </div>
       