.avatar-custom{
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.avatar-apply-job {
  border-radius: 50%;
  width: 63px;
  height: 63px;
}

.avatar-profile {
	width: 120px;
	height: 120px;
}
.change-password{
  display: none;
}


.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}



.button-search-job-full {
	/*Delete background for object*/
	background: transparent;
    border: none !important;
}
.Shape {
  width: 10px;
  height: 14px;
  border: solid 1px #a4a9bd;
}
