
<h3>
  Hello Edison Chan. Having a job has been reported in your system. Please review it remove that job.
</h3>
<h4>
  This is job information!
</h4>
<h4>
  <b>
    Report Type: <%= @report_content[:report_type] %>
  </b>
</h4>
<h4>
  <% if Rails.env == "development" %>
    Job detail: <a href="http://localhost:3001/test/job-detail/<%= @report_content[:job_id] %>">
      Click to view job
    </a>
  <% end %>
  <% if Rails.env == "production" %>
    Job detail: <a href="https://parttimebee.my/test/job-detail/<%= @report_content[:job_id] %>">
      Click to view job
    </a>
  <% end %>
</h4>
<% if Rails.env == "development" %>
  Admin Page:
  <a href="http://localhost:3000/admin">
    Access to admin page to remove this job!
  </a>
<% end %>
<% if Rails.env == "production" %>
  Admin Page:
  <a href="https://api.parttimebee.my/admin">
    Access to admin page to remove this job!
  </a>
<% end %>
<br>
<br>
<br>