  
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        <% @name = User.find(@applied[:parttimer_id]).full_name%>
        <% @job = Job.find(@applied[:job_id])%>
        Hi there, you have just awarded a job offer for <a href="<%=root_url%>01-all-jobs-listing/published-job/<%=@job[:id]%>"><%=@job[:title]%></a> to <%= @name%>
    </td>
</tr>
                              
                           