                                          
<tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
        <% @employer = User.find(@applied[:employer_id])%>
        <% @job = Job.find(@applied[:job_id])%>
        Hi there, <%= @employer.full_name%> have just awarded a job offer for you, check it out here <a href="<%=root_url%>job-details/<%=@job[:id]%>"><%=@job[:title]%></a>! 
    </td>
</tr>
                              
                           