<div class="footer">
			<div class="auto-container">
				<div class="container sub-footer">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 company">
							<p>Company</p>
							<ul>
								<li><a href="#">Why ParttimeBee</a></li>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div><!-- .nav-footer -->
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 company">
							<p>Employer</p>
							<ul>
								<li><a href="#">Partnership</a></li>
								<li><a href="#">FAQs</a></li>
							</ul>
						</div><!-- . -->
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 input-email">
							<p class="stay">Stay Updated</p>
							<p>Be the first to know about our latest 
							news</p>
							<form action="https://parttimebee.us17.list-manage.com/subscribe/post?u=4d666b9bc0056835bd8deb2ce&amp;id=c454a1fe82" method="post">
								<div class="form-group">
									<input class="email" name="EMAIL" type="text" placeholder="you@email.com">
									<input class="submit" type="submit" />
								</div>
							</form>
						</div><!-- .input-email -->
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 logo-footer">
							<div class="slogan-footer">
                                <%= image_tag "logo-footer.png"%>
								<h4>work hard, play harder</h4>
							</div><!-- slogan-footer -->
							<div class="icon-footer">
                                <%= image_tag "facebook-logo-on-square.png"%>
                                <%= image_tag "twitter-logo-silhouette.png"%>
                                <%= image_tag "linkedin-logo.png"%>
							<p>@ 2016 ParttimeBee</p>
							</div><!-- .society -->
						</div><!-- .logo-footer -->
					</div><!-- row -->
				</div><!-- .container sub-footer -->
			</div><!-- .auto-container -->
		</div><!-- .footer -->

		<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->