<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"> 
    <div class="save-exit">
        <button class='waves-effect' onclick="get_current_tab_active()" name="save", value="SaveExit">Save & Exit</button>
    </div>
</div>        
