<ul>
    <li>
      <a href="https://www.facebook.com/sharer.php?u=parttimebee.my/job-details/<%= job[:id]%>"><i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/share?text=&url=http://parttimebee.my/job-details/<%= job[:id]%>"><i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url=http%3A//www.parttimebee.my/job-details/<%= job[:id]%>">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a>
    </li>
</ul>